# Ignorar configuraciones de IDE (Eclipse/IntelliJ)
.settings/
.classpath
.project

# Ignorar archivos generados por compilación
build/
bin/

# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db
