*{
	margin: 0;
	padding: o;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
}
.container__menu {
	background: #182F59;
}
.container_submenu {
	background: #818a91;
}
.fs-14 {
	font-size: 14px;
}
.fw-600 {
  	font-weight: 600;
}
.h-3rem {
	height: 3rem
}
.text-gray-200 {
	color: #667085;
}
.container_form {
	min-height: 609px;
	max-height: 609px;
	height: 100%;
	overflow-y: auto; 
}
.login__button {
	background-color: #1b5161;
	color: #fff;
}

.login__button:hover {
	background-color: #1b5161;
	color: #fff;
	cursor: pointer;
}

.register__button {
	border: 1px solid #1b5161;
	color: #1b5161;
}

.register__button:hover {
	background-color: #83b3c1;
	color: #fff;
}

@media (max-width: 1400px) {
	.container_form {
		min-height: 540px;
		max-height: 540px;
	}
}

@media (max-width: 1200px) {
	.container_form {
		min-height: 451px;
		max-height: 451px;
	}
}

@media (max-width: 991px) {
	.container_form {
		width: 100%;
		height: auto;
		max-height: 700px;
	}
  	.login__image {
   	 	display: none;
  	}
}

/* Estilos para el scrollbar en Webkit */
::-webkit-scrollbar {
  	width: 8px;
}

::-webkit-scrollbar-thumb {
	  background-color: #1b5161; /* Color scrollbar en Webkit */
	  border-radius: 10px; 
	  border: 2px solid #ffffff;
}